.button {
    -fx-border-width: 2;
    -fx-border-color: #000080;
    -fx-background-color: #4D4DD0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: #FFCC99;
}

.button:hover {
    -fx-background-color: #3636DA;
}

.vbox {
    -fx-background-color: #E2F3F6;
}